
										<!--Model Popup starts-->
										<div class="container">
											<div class="row">

												<div class="modal fade" id="successModal" role="dialog"
													style="border: none;">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header bg-success text-white">
																<button type="button"
																	class="close bg-primary text-white"
																	data-dismiss="modal" aria-label=""
																	style="border:none"><span>×</span></button>
															</div>

															<div class="modal-body">

																<div class="thank-you-pop">
																	<h1 style="margin-left:35%;" class="">Success!</h1>
																	 <img src="admin-assets/images/icons8-success-100.png" alt="" style="margin-left:40%;">
																	<!--<h6 class="cupon-pop">Transaction  Id: <span id="transactionid">12345</span></h6>-->
                                                                        <a href="/userDashboard" class="btn btn-succes text-white">back</a>
																</div>

															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
										<!--Model Popup ends-->